<h1 mat-dialog-title id="more-device-margin-company">More Devices</h1>
<mat-divider></mat-divider>
<div mat-dialog-content id="content-styling">
  <div id="marg">
    <b>Add device serial number and customer code</b>
    <br>
    <b class="text-style-company">Use the Double pipe <code>||</code> to separate serial number and customer code</b>
  </div>

  <div>
    <p class="text-style-company" *ngIf=" getNoOfWords()>0 ; else noServer"> {{getNoOfWords()}} devices </p>
    <ng-template #noServer>
      <p class="text-style-company" >Your list can be separated by new line or commas</p>
    </ng-template>
  </div>
  <div>
    <textarea autoGrow class="textareaInput" [(ngModel)]="multiLineText" rows="2"></textarea>
  </div>

</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
  <div>
    <button (click)="replaceDialogAsMoreDevice()" mat-stroked-button>Back</button>
  </div>
  <div class="make-flex">
    <p class="CancelText" (click)="onNoClick()">Cancel</p>
    <button mat-flat-button [disabled]="multiLineText.length<1" color="primary">Move Devices</button>
  </div>
</div>


