/*Styling for Cancel text*/
.CancelText{
  cursor: pointer;
  margin: 10px 20px;
  color: #3f51b5;
  font-weight: 425;
}
.CancelText:hover{
  color: #2b387c;
}
/*This will decide the height of the container*/
.cdk-overlay-pane{
  height: auto !important;
}
/*To move the below action buttons in dialog to left*/
.mat-dialog-actions{
  justify-content: space-between;
  padding: 0 0 !important;
  align-items: center;
  align-content: center;
}
/*made cancel and the button flex*/
.make-flex{
  display: flex;
  align-items: center;
}
/*back button bc color*/
.mat-stroked-button{
  background-color: rgba(0,0,0,.04);
}
/*make cursor not-allowed when button is disabled*/
button[disabled]:hover {
  cursor: not-allowed !important;
}

/*spacing for cancel text in dialog action */
.mat-typography .CancelText{
  margin: 0 25px 0;
}

/*Text Area input to take whole width of the container*/
.textareaInput{
  width: -webkit-fill-available;
  resize: none;
}

code{
  font-size: 90%;
  padding: 2px 4px;
  border-radius: 3px;
  color: #c7254e;
  background-color: #f9f2f4;
}
#more-device-margin-company{
  margin: 0 1px 1px;
}
#content-styling{
  width: 45vw;
  padding: 15px
}
#marg{
  margin-bottom: 10px
}
.text-style-company{
  color: #757575;
  font-weight: 500;
}
