<div class="container mt-4 main-container" style="background: white">
  <h1 id="device-heading">Devices</h1>
  <div class="icon-list">
<!--    Download Icon-->
    <mat-icon
      matTooltip="Download CSV file based from devices"
      matTooltipPosition="above"
      aria-label="Button that displays a tooltip when focused or hovered over">get_app</mat-icon>

<!--    Visibility Icon-->
    <mat-icon (click)="visibilityClicked()"
              matTooltip="Devices in hidden sites are available"
              matTooltipPosition="above"
              matTooltipClass="my-custom-tooltip"
              aria-label="Button that displays a tooltip when focused or hovered over"
              [ngStyle]="{color: isVisibilityClicked ? '#3f51b5' : '#263238' }">
      visibility_off
    </mat-icon>

<!--    Filter-->
    <div class="dropdown-custom" clickOutside  (clickOutside)="clickedOutside()">
      <button
        matTooltip="Filter Device by:"
        matTooltipPosition="above"
        aria-label="Button that displays a tooltip when focused or hovered over"
        mat-button class="link" (click)="toggleMenu()" ><mat-icon >sort</mat-icon></button>

      <div class="dropdown-menu-items" *ngIf="isMenuOpened">
        <b id="filter-by-device" >Filter device by:</b>
        <mat-divider id="margin-top-divider"></mat-divider>

        <p id="device-status" >DEVICE STATUS</p>
        <mat-divider></mat-divider>

        <div class="innerListItem">
          <a class="innerListItem" href="" id="text-d-none" >
            <div class="inherit-style">
              <mat-icon class="green-icon">check_circle</mat-icon>
              <p class="margin-text">Operational</p>
            </div>
          </a>
          <div class="flex-center">
            <p class="margin-checkbox-text"> 25 </p>
            <input type="checkbox" class="largerCheckbox" id="vehicle1" name="vehicle1" value="Bike">
          </div>
        </div>
        <mat-divider></mat-divider>

        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
          <!--          CHILD-->
          <mat-tree-node id="tree-padding" *matTreeNodeDef="let node" matTreeNodeToggle>
            <!--            {{node.name}}-->
            <div class="innerListItem">
              <div class="inherit-style" >
                <p class="margin-text">{{node.name}}</p>
              </div>
              <div class="flex-center">
                <p class="margin-checkbox-text">25</p>
                <input class="largerCheckbox" type="checkbox" id="vehicle43" name="vehicle1" value="Bike">
              </div>
            </div>
          </mat-tree-node>
          <!-- PARENT This is the tree node template for expandable nodes -->
          <mat-nested-tree-node id="parent-node-style" *matTreeNodeDef="let node; when: hasChild">
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <!--              My Component     -->
              <div class="innerListItem">
                <div class="inherit-style" >
                  <mat-icon class="col-red">{{getValue(node.name)}}</mat-icon>
                  <p class="margin-text" >{{node.name}}</p>
                </div>
                <div class="flex-center">
                  <p class="margin-checkbox-text" >25</p>
                  <input class="largerCheckbox" type="checkbox" id="vehicle23" name="vehicle1" value="Bike">
                </div>
              </div>
            </div>
            <!-- There is inline padding applied to this div using styles.
                This padding value depends on the mat-icon-button width.  -->
            <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
                 role="group" id="pl-15">
              <ng-container matTreeNodeOutlet></ng-container>
            </div>
          </mat-nested-tree-node>
        </mat-tree>
        <mat-divider></mat-divider>


        <div class="innerListItem">
          <div class="inherit-style" >
            <mat-icon>cloud_off</mat-icon>
            <p class="margin-text" >Unknown</p>
          </div>
          <div class="flex-center" >
            <p class="margin-checkbox-text">25</p>
            <input class="largerCheckbox" type="checkbox" id="vehicle3" name="vehicle1" value="Bike">
          </div>
        </div>
        <mat-divider></mat-divider>

        <div class="innerListItem">
          <div class="inherit-style">
            <mat-icon class="gray-icon-inactive">remove_circle</mat-icon>
            <p class="margin-text" >Inactive</p>
          </div>
          <div class="flex-center">
            <p class="margin-checkbox-text">25</p>
            <input class="largerCheckbox" type="checkbox" id="vehicle4" name="vehicle1" value="Bike">
          </div>
        </div>
        <mat-divider></mat-divider>



      </div>

    </div>



    <!--    Show More Button: which will open more-device Dialog -->
    <button matTooltip="Show More Devices"
            matTooltipPosition="above"
            class="move-device-styling"
            aria-label="Button that displays a tooltip when focused or hovered over"
            (click)="openDialogMoreDevices()"
            mat-flat-button color="primary">
      Move Devices
    </button>

  </div>


<!--Table-->
  <app-table></app-table>




</div>
