<h1 mat-dialog-title id="m-d-margin">More Devices</h1>
<div mat-dialog-content id="m-d-style">
  <mat-divider></mat-divider>
  <div id="m-d-flex-container">
    <div class="innerItems" (click)="replaceDialogAsMoveToSite()" >
      <!--      <mat-icon> pin_drop</mat-icon>-->
      <b>Move to Site</b>
    </div>
    <div class="innerItems" (click)="replaceDialogAsMoveToCompany()">
      <!--      <p>Logo</p>-->
      <b>Move to Companies</b>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>
<div mat-dialog-actions>
  <p class="CancelText" (click)="onNoClick()">Cancel</p>
</div>


