th{
  color: rgb(128, 128, 128);
  font-size: 15px;
  font-weight: 600;
}
table {
  width: 100%;
}
.table-border{
  border-radius: 3px;
}
.mat-header-cell .cdk-header-cell .cdk-column-Device---Serial .mat-column-Device---Serial{
  width: 10px;
}
.device-col{
  width: 250px;
}
.mat-row .cdk-row:hover{
  background-color: red;
}
tr.mat-row, tr.mat-footer-row{
  height: 55px;
}
tr:hover{
  background-color: #efefef;
}
.status-col{
  width: 230px;
}
.location-col{
  width: 400px;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  padding: 10px;
}
.paginator-styling{
  margin: 20px 0 20px 0;
  display:block;
  width: 60vw
}
